@use "../abstracts/variables";
@use "../abstracts/mixins";
.model {
    @include mixins.position(fixed, 0, 0, 0, 0, 100%, 100%);
    background: rgba(0, 0, 0, 0.4);
    @include mixins.align(flex, center, center, null);
    &__body {
        background: variables.$white;
        width: 38rem;
        height: auto;
        padding: 2rem;
        font-size: 1.4rem;
    }
}