$white: #fff;
$black: #000;
$blackDark: #1c1d1f;
$main1: #ff4d58;
$main2: #df2189;
$sliver: #7f8c8d;
$sliverDark: #777;
$sliverLight: #aaa;
$sliverLight-50: #d4cfcf;
$sliverLight-45: #e2e4eb;
$sliverLight-40: #f6f6fb;
$orange: #fbbf24;
$green: #34d399;